.app-container {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* Área de conteúdo */
.content {
  flex: 1;
  padding: 20px;
  margin-left: 220px; /* espaço reservado para o menu lateral */
  background-color: #f5f6fa;
}